<div>
  <div>
    <span class="border-top border-secondary pt-1">
      <small>
        {{#if icon}}
          <span class="pr-1">
            {{fa-icon icon}}
          </span>
        {{/if}}
        {{header}}
      </small>
    </span>
  </div>
  <div class="mt-2">
    {{yield}}
  </div>
</div>
