<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      {{#filter-group title="Search"}}
        {{input value=searchQuery placeholder="Search..." class="w-75 border-0 bg-light px-3 py-1"}}
      {{/filter-group}}

      {{#filter-group title="Difficulty"}}
        {{#each difficulties as |difficulty|}}
          {{#link-to "items" (query-params difficulty=difficulty.name)}}
            {{filter-checkbox
              text=difficulty.name
              color=difficulty.color
              checkboxId=difficulty.id
              selectedId=selectedColorId
            }}
          {{/link-to}}
        {{/each}}
      {{/filter-group}}

      {{#filter-group title="Categories"}}
        {{#each categories as |category|}}
          {{#link-to "items" (query-params category=category.name)}}
            {{filter-checkbox
              text=category.name
              color="secondary"
              checkboxId=category.id
              selectedId=selectedCategoryId
              clickAction=(action toggleCategoryId)
            }}
          {{/link-to}}
        {{/each}}
      {{/filter-group}}
    </div>
  </div>
</div>
