<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      {{#each colors as |color|}}
        {{filter-checkbox
          text=color.name
          color=color.color
          checkboxId=color.id
          selectedId=selectedColorId
          clickAction=(action toggleColorId color.id)
        }}
        {{log color.id}}
      {{/each}}
    </div>
  </div>
</div>
