<div class="row">
  <div class="col">
    <h1>
      {{yield (hash isHeaderSection=true)}}
    </h1>
  </div>
</div>
<div class="row py-5">
  <div class="col pb-5">
    {{yield (hash isBodySection=true)}}
  </div>
</div>
