.app {
  font-family: 'Roboto', sans-serif !important;
}

.image-wrapper-small {
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: left;
  align-items: start;
  overflow: hidden;
}

.image-wrapper-tiny {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: left;
  align-items: start;
  overflow: hidden;
}

.image-wrapper-teensy {
  height: 14px;
  width: 14px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-teensy {
  flex-shrink: 0;
  max-width: 130%;
  max-height: 130%;
}

.image-small {
  flex-shrink: 0;
  max-width: 180%;
  max-height: 180%;
}

/* .row:hover {
  background-color: whitesmoke;
  cursor: pointer;
} */

.ember-power-select-trigger {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 16px;
  margin-top: 3px;
  width: 120px;
  border: 1px solid black;
}

.ember-power-select-selected-item {
  margin-left: 6px;
}

.ember-basic-dropdown-content {
  font-size: 12px;
}

.badge-input {
  width: 120px;
  border: 1px solid black;
  font-size: 12px;
  line-height: 1.4;
}
