<div class="col col-8 p-5">
  <div class="row">
    <div class="col">
      <h1>Inventory</h1>
    </div>
  </div>
</div>
{{filters-sidebar
  togglePlayers=(action "togglePlayers")
  togglePlayTime=(action "togglePlayTime")
  players=players
  playTime=playTime
}}
