<div class="container-fluid p-5">
  <div class="row pb-5">
    <div class="col">
      <h1>
        {{model.item.game.name}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-2">
      <img src={{model.item.game.image}} class="align-self-start w-100" />
    </div>
  </div>
</div>
