<div class="container-fluid">
  <div class="row sticky-top">
    <div class="col-8 p-5 bg-white">
      Victory Square
    </div>
    <div class="col bg-light p-5">
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
