<div class="container-fluid mt-5 pt-5">
  <div class="row d-flex justify-content-between">
    <div class="col-2">
      {{items-sidebar
        class="position-fixed"
        selectedDifficulty=difficulty
        selectedCategory=category
        search=search
        difficulties=model.difficulties
        categories=model.categories
      }}
    </div>
    <div class="col-10 d-flex align-items-end">
      <div class="container-fluid">
        {{#each filteredItems as |item|}}
          {{item-row item=item}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
